.button {
  @include flex(center, center);
  @include reset-button;

  position: relative;
  width: fit-content;
  font-size: 20px;
  font-weight: var(--typography-bold);
  color: var(--color-white);

  &--sm {
    height: 45px;
  }

  &--md {
    padding: rem(15px) rem(48px);
    height: 58px;
  }

  &--lg {
    height: 80px;
    font-size: 30px;
  }

  &--outline {
    border: 1px solid var(--color-white);
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &--black {
    background-color: var(--color-black);
  }
}
