mixin social
  .social&attributes(attributes)
    p.social__title Social
    ul.social__list
      li.social__item
        a(href="https://www.facebook.com/CompetenzLab/" aria-label="Facebook").social__link
          svg(viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(x='0.152344' y='0.859375' width='18' height='18' rx='3' fill='currentColor')
            path(d='M9.13927 18.8595V12.1026H7.3526V9.66977H9.13927V7.59183C9.13927 5.95897 10.1947 4.45947 12.6265 4.45947C13.6111 4.45947 14.3392 4.55386 14.3392 4.55386L14.2818 6.8257C14.2818 6.8257 13.5393 6.81847 12.729 6.81847C11.8521 6.81847 11.7116 7.2226 11.7116 7.89337V9.66977H14.3515L14.2367 12.1026H11.7116V18.8595H9.13927Z' fill='black')
      li.social__item
        a(href="https://www.instagram.com/competenz_lab/" aria-label="Instagram").social__link
          svg(viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9.14992 6.51044C7.49734 6.51044 6.1487 7.8591 6.1487 9.51172C6.1487 11.1643 7.49734 12.513 9.14992 12.513C10.8025 12.513 12.1511 11.1643 12.1511 9.51172C12.1511 7.8591 10.8025 6.51044 9.14992 6.51044ZM18.1513 9.51172C18.1513 8.26888 18.1626 7.0373 18.0928 5.79671C18.023 4.35574 17.6943 3.07687 16.6406 2.02316C15.5847 0.967196 14.3081 0.640725 12.8671 0.570928C11.6243 0.501131 10.3927 0.512388 9.15217 0.512388C7.90936 0.512388 6.6778 0.501131 5.43724 0.570928C3.99629 0.640725 2.71745 0.969447 1.66376 2.02316C0.607812 3.07912 0.281348 4.35574 0.211552 5.79671C0.141756 7.03955 0.153013 8.27113 0.153013 9.51172C0.153013 10.7523 0.141756 11.9861 0.211552 13.2267C0.281348 14.6677 0.610064 15.9466 1.66376 17.0003C2.7197 18.0562 3.99629 18.3827 5.43724 18.4525C6.68005 18.5223 7.91161 18.511 9.15217 18.511C10.395 18.511 11.6266 18.5223 12.8671 18.4525C14.3081 18.3827 15.5869 18.054 16.6406 17.0003C17.6965 15.9443 18.023 14.6677 18.0928 13.2267C18.1648 11.9861 18.1513 10.7546 18.1513 9.51172ZM9.14992 14.1296C6.5945 14.1296 4.53214 12.0672 4.53214 9.51172C4.53214 6.95624 6.5945 4.89385 9.14992 4.89385C11.7054 4.89385 13.7677 6.95624 13.7677 9.51172C13.7677 12.0672 11.7054 14.1296 9.14992 14.1296ZM13.9568 5.7832C13.3602 5.7832 12.8784 5.30137 12.8784 4.70472C12.8784 4.10807 13.3602 3.62624 13.9568 3.62624C14.5535 3.62624 15.0353 4.10807 15.0353 4.70472C15.0355 4.8464 15.0077 4.98672 14.9536 5.11765C14.8994 5.24857 14.82 5.36754 14.7198 5.46772C14.6196 5.5679 14.5007 5.64733 14.3698 5.70147C14.2388 5.7556 14.0985 5.78338 13.9568 5.7832Z' fill='currentColor')
      li.social__item
        a(href="https://www.linkedin.com/company/competenz-lab/" aria-label="Linkedin").social__link
          svg(viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(x='0.152344' y='0.164062' width='18' height='18.6957' rx='3' fill='currentColor')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M8.40177 7.77833H10.0062V8.60841C10.2373 8.131 10.83 7.70205 11.7204 7.70205C13.4272 7.70205 13.8324 8.65239 13.8324 10.396V13.6253H12.1044V10.7931C12.1044 9.80015 11.8733 9.24018 11.2849 9.24018C10.4689 9.24018 10.1298 9.84367 10.1298 10.7927V13.6253H8.40177V7.77833ZM5.43868 13.549H7.16668V7.70205H5.43868V13.549ZM7.41422 5.79554C7.41428 5.94598 7.38556 6.09493 7.32972 6.23373C7.27387 6.37254 7.19202 6.49843 7.08892 6.60409C6.88001 6.81974 6.59723 6.94046 6.30268 6.93972C6.00866 6.93951 5.72653 6.81911 5.51731 6.60454C5.41458 6.49852 5.33301 6.37248 5.27726 6.23366C5.22152 6.09484 5.19269 5.94595 5.19244 5.79554C5.19244 5.49177 5.30908 5.20102 5.51774 4.98654C5.72678 4.77169 6.00903 4.65123 6.30312 4.65137C6.59774 4.65137 6.88027 4.77207 7.08892 4.98654C7.29715 5.20102 7.41422 5.49177 7.41422 5.79554Z' fill='black')
