.sign-in {
  width: rem(90px);
  font-size: rem(16px);
  transition: var(--default-transition);

  &:hover {
    border-color: var(--color-pink);
    color: var(--color-pink);
  }

  @include media-breakpoint-up(sm) {
    width: rem(165px);
    font-size: rem(20px);
  }
}
