---
title: 'Competenzlab — AI-based personal growth platform'
lang: en
---
extends ../layouts/_layout

block content
    +aside
    +nav.is-transparent
    +header
    main.main.js-main
      +section-description
      +section-cta
    +footer
