---
title: 'Competenzlab — AI-based personal growth platform'
lang: en
---
extends ../layouts/_layout

block content
  +aside
  +nav.is-transparent
  +header
  main.main.js-main
    .print#print
      .print__page.print__page--black.print__page--1
        .print__picture
          svg(width='209' height='30' viewBox='0 0 209 30' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M8.48627 22.5127C4.75117 22.5127 2.80983 19.4474 2.80983 15.5647C2.80983 11.682 4.73982 8.5827 8.48627 8.5827C11.1372 8.5827 12.8004 10.0472 13.2091 12.4313H15.9905C15.3775 8.68488 12.6301 6.30078 8.48627 6.30078C3.25827 6.30078 0 10.4559 0 15.5647C0 20.6735 3.25827 24.8286 8.48627 24.8286C12.8685 24.8286 15.6159 22.3764 15.9905 18.1532H13.2715C13.0388 20.8779 11.3415 22.5127 8.48627 22.5127Z' fill='white')
            path(d='M26.1059 6.31787C20.8779 6.31787 17.6196 10.473 17.6196 15.5818C17.6196 20.6906 20.8779 24.8458 26.1059 24.8458C31.3339 24.8458 34.5581 20.6906 34.5581 15.5818C34.5581 10.473 31.3679 6.31787 26.1059 6.31787ZM26.1059 22.5298C22.3708 22.5298 20.4295 19.4645 20.4295 15.5818C20.4295 11.6991 22.3651 8.59979 26.1059 8.59979C29.8467 8.59979 31.7426 11.6991 31.7426 15.5818C31.7426 19.4645 29.841 22.5127 26.1059 22.5127V22.5298Z' fill='white')
            path(d='M55.3 6.31801C54.2079 6.31571 53.135 6.60488 52.192 7.1557C51.249 7.70652 50.4701 8.49902 49.9357 9.4514H49.8676C49.5464 8.50343 48.9261 7.68539 48.1 7.12031C47.2739 6.55524 46.2866 6.27369 45.2867 6.31801C44.2493 6.33067 43.2319 6.60594 42.3296 7.11813C41.4273 7.63032 40.6695 8.36275 40.1269 9.24705H40.0587V6.72672H37.3057V24.3237H40.0587V13.3852C40.0657 12.1695 40.5367 11.0024 41.3755 10.1224C42.2143 9.24247 43.3575 8.71612 44.5715 8.65102C46.3709 8.65102 47.5914 9.94526 47.5914 12.125V24.352H50.3387V13.3852C50.3387 10.6264 52.3766 8.65102 54.6528 8.65102C56.4182 8.65102 57.8771 9.94526 57.8771 12.125V24.352H60.6301V11.9944C60.6301 8.3445 58.422 6.31801 55.3 6.31801Z' fill='white')
            path(d='M72.7095 6.31785C71.6032 6.28781 70.5071 6.53736 69.5229 7.0434C68.5386 7.54943 67.6978 8.2956 67.0785 9.21284H67.0104V6.72656H64.2573V29.9999H67.0104V22.2743H67.0785C68.5374 24.1475 70.2346 24.8628 72.613 24.8628C77.3585 24.8628 80.2478 21.2526 80.2478 15.5988C80.2478 9.72372 77.1598 6.31785 72.7095 6.31785ZM72.403 22.5297C68.3671 22.5297 66.8401 19.4304 66.8401 15.6159C66.8401 11.8013 68.6055 8.66791 72.4427 8.66791C75.7691 8.66791 77.4323 11.6651 77.4323 15.6159C77.4323 19.5667 75.7691 22.5468 72.403 22.5468V22.5297Z' fill='white')
            path(d='M90.5281 22.5127C86.9973 22.5127 85.0617 19.788 84.8516 16.2118H98.4297C98.4297 10.3878 95.5915 6.30078 90.3521 6.30078C85.3625 6.30078 82.0361 10.4559 82.0361 15.5647C82.0361 20.6735 85.1582 24.8286 90.5224 24.8286C94.4959 24.8286 97.2433 22.683 98.055 18.9025H95.353C94.74 21.2866 93.0427 22.5127 90.5281 22.5127ZM90.3578 8.48053C93.5139 8.48053 95.3133 10.6262 95.4666 14.157H84.9084C85.3058 10.9327 87.0711 8.48053 90.3294 8.48053H90.3578Z' fill='white')
            path(d='M108.318 8.99137V6.7208H104.912V1.20898H102.165V6.76054H99.6104V9.03111H102.159V21.0765C102.159 23.5628 103.788 24.4824 106.03 24.4824C106.771 24.4798 107.509 24.3998 108.233 24.2439V21.8598H108.125C107.653 22.009 107.161 22.0893 106.666 22.0982C105.531 22.0982 104.901 21.6896 104.901 20.4635V8.99137H108.318Z' fill='white')
            path(d='M118.502 22.5127C114.976 22.5127 113.041 19.788 112.825 16.2118H126.403C126.403 10.3878 123.565 6.30078 118.32 6.30078C113.33 6.30078 110.004 10.4559 110.004 15.5647C110.004 20.6735 113.126 24.8286 118.49 24.8286C122.464 24.8286 125.211 22.683 126.028 18.9025H123.349C122.748 21.2866 121.05 22.5127 118.502 22.5127ZM118.331 8.48053C121.487 8.48053 123.287 10.6262 123.44 14.157H112.905C113.308 10.9327 115.073 8.48053 118.343 8.48053H118.331Z' fill='white')
            path(d='M137.478 6.31774C136.397 6.2788 135.324 6.50709 134.352 6.98237C133.381 7.45766 132.542 8.16524 131.909 9.04242H131.841V6.72644H129.094V24.3234H131.841V13.5211C131.811 12.8774 131.915 12.2343 132.146 11.6327C132.377 11.0311 132.73 10.4841 133.184 10.0262C133.638 9.56837 134.181 9.20971 134.781 8.97294C135.38 8.73617 136.022 8.62645 136.666 8.65074C139.141 8.65074 140.64 9.94498 140.64 12.2269V24.3518H143.393V11.9942C143.387 8.34423 141.145 6.31774 137.478 6.31774Z' fill='white')
            path(d='M149.835 21.8316V21.7294L159.916 8.37847V6.74365H146.86V9.15614H156.062V9.25831L146.287 22.1665V24.3463H160.291V21.8259L149.835 21.8316Z' fill='white')
            path(d='M168.505 0V24.3519H171.252V0H168.505Z' fill='white')
            path(d='M200.855 6.31787C199.745 6.29321 198.647 6.54863 197.661 7.06057C196.676 7.5725 195.836 8.32444 195.218 9.24691H195.15V0H192.397V24.3519H195.15V22.0359H195.218C195.815 22.9486 196.639 23.6902 197.61 24.1878C198.58 24.6854 199.663 24.922 200.753 24.8741C205.504 24.8741 208.319 21.2639 208.319 15.6102C208.319 9.72373 205.3 6.31787 200.855 6.31787ZM200.548 22.5298C196.813 22.5298 194.98 19.5667 194.98 15.6159C194.98 11.8013 196.745 8.66792 200.582 8.66792C203.909 8.66792 205.504 11.6651 205.504 15.6159C205.504 19.5667 203.909 22.5468 200.548 22.5468V22.5298Z' fill='white')
            path(d='M185.517 6.57324H176.287V8.99139H185.097V9.09358L173.67 24.1815H176.861L186.51 11.6934L188.31 9.36604L187.237 8.29887L185.517 6.57324Z' fill='white')
            path(d='M188.934 9.99645V19.1696H186.522V8.31055H187.249L188.321 9.38339L188.934 9.99645Z' fill='white')

        .print__logo
          svg(width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M41.2416 14.3761L42.0486 9.42782L42.3383 10.7914L36.6523 2.08203L37.923 1.83569L42.6166 9.13178L42.0953 9.23284L43.4779 0.758718L44.6996 0.521848L42.439 14.1439L41.2416 14.3761Z' fill='white')
            path(d='M51.6513 9.63962C50.76 9.60336 50.007 9.37031 49.3923 8.94049C48.7776 8.51066 48.3159 7.93179 48.0073 7.20388C47.6986 6.47596 47.5631 5.64973 47.6007 4.72518C47.639 3.78402 47.8442 2.9661 48.2163 2.27143C48.5883 1.57676 49.098 1.04572 49.7451 0.678331C50.398 0.305628 51.1618 0.137072 52.0365 0.172663C52.9334 0.209155 53.6891 0.442314 54.3038 0.872139C54.9243 1.29665 55.3861 1.87275 55.6892 2.60045C55.9981 3.32282 56.1337 4.14629 56.0961 5.07084C56.0578 6.012 55.8552 6.8328 55.4885 7.53323C55.1219 8.22813 54.6122 8.76193 53.9593 9.13463C53.3064 9.50734 52.5371 9.67567 51.6513 9.63962ZM51.6989 8.46871C52.6955 8.50926 53.4507 8.21004 53.9647 7.57105C54.4789 6.92652 54.7576 6.07555 54.8006 5.01813C54.8447 3.93303 54.6335 3.05935 54.1669 2.3971C53.7059 1.73507 52.9798 1.3839 51.9889 1.34358C51.319 1.31632 50.7591 1.44604 50.3094 1.73274C49.8654 2.01412 49.5245 2.41893 49.2868 2.94716C49.0548 3.47008 48.9246 4.08032 48.8962 4.77789C48.8523 5.85745 49.0661 6.73401 49.5378 7.40756C50.0097 8.07557 50.7301 8.42929 51.6989 8.46871Z' fill='white')
            path(d='M61.252 11.1855C60.7374 11.0304 60.3105 10.8149 59.9711 10.5391C59.6371 10.2648 59.3756 9.95164 59.1866 9.59954C59.0028 9.24904 58.8807 8.87659 58.8202 8.4822C58.7612 8.0825 58.753 7.67782 58.7954 7.26816C58.8394 6.85319 58.9198 6.45207 59.0365 6.0648L60.4609 1.33789L61.6387 1.6928L60.3174 6.07752C60.1751 6.54968 60.0883 7.00095 60.057 7.43132C60.0257 7.86169 60.0626 8.25765 60.1677 8.61919C60.2798 8.97703 60.4676 9.28535 60.731 9.54413C60.9998 9.80451 61.3596 10.0026 61.8106 10.1385C62.2244 10.2632 62.6093 10.3011 62.9655 10.2522C63.327 10.2049 63.6538 10.0806 63.9459 9.87927C64.245 9.67425 64.5078 9.39754 64.7343 9.04914C64.9624 8.69544 65.1492 8.2772 65.2947 7.79443L66.0671 8.22685C65.8017 9.10751 65.4249 9.80122 64.9365 10.308C64.4482 10.8147 63.8871 11.1404 63.2532 11.2851C62.6194 11.4297 61.9523 11.3965 61.252 11.1855ZM64.2054 11.8411L64.8433 9.72434L64.7239 9.68837L66.6759 3.21076L67.8457 3.56327L65.2558 12.1576L64.2054 11.8411Z' fill='white')
            path(d='M67.7533 13.4212L72.0501 5.54028L73.0133 6.06545L71.9789 7.9627L71.9245 7.61115C72.1394 7.42539 72.3704 7.27367 72.6176 7.156C72.8674 7.03346 73.1095 6.95404 73.3438 6.91774C73.6463 6.84914 73.9589 6.84289 74.2817 6.89899C74.6072 6.95023 74.9126 7.04414 75.1978 7.18073C75.4857 7.31246 75.7281 7.46984 75.9249 7.65288L75.3759 8.65988C75.1286 8.43042 74.8241 8.24231 74.4624 8.09557C74.1006 7.94882 73.7126 7.91396 73.2983 7.99098C72.9242 8.05207 72.5932 8.19032 72.3054 8.40573C72.0202 8.61627 71.7682 8.87014 71.5493 9.16734C71.3331 9.45968 71.1402 9.76152 70.9704 10.0729L68.826 14.006L67.7533 13.4212Z' fill='white')
            path(d='M78.8917 21.8941C78.3145 21.2917 77.9709 20.6337 77.861 19.9201C77.7551 19.2027 77.8505 18.4837 78.1472 17.7631C78.4439 17.0425 78.9154 16.3725 79.5617 15.7532C80.204 15.1377 80.8895 14.695 81.6182 14.4252C82.3508 14.1594 83.0693 14.0946 83.7738 14.2307C84.4782 14.3669 85.1134 14.7302 85.6792 15.3206C86.2603 15.927 86.6021 16.5791 86.7045 17.2769C86.8069 17.9747 86.7021 18.6759 86.3901 19.3805C86.0859 20.0853 85.6066 20.7512 84.9524 21.3782C84.3101 21.9938 83.6283 22.4443 82.9071 22.7299C82.1898 23.0116 81.4827 23.0923 80.7857 22.972C80.0927 22.8478 79.4614 22.4885 78.8917 21.8941ZM79.7976 21.1982C80.2373 21.657 80.7122 21.9289 81.2223 22.014C81.7324 22.0991 82.2537 22.0282 82.7861 21.8011C83.3225 21.5702 83.8401 21.2158 84.3388 20.7379C84.8454 20.2524 85.2215 19.7504 85.467 19.2319C85.7165 18.7097 85.8076 18.1938 85.7403 17.6843C85.6768 17.1788 85.429 16.7007 84.997 16.2499C84.5535 15.7871 84.0728 15.5131 83.5548 15.4278C83.0369 15.3425 82.5117 15.4134 81.9793 15.6405C81.4507 15.8715 80.943 16.2203 80.4563 16.6867C79.9656 17.157 79.5935 17.6551 79.3401 18.1812C79.0944 18.7075 79.0012 19.2292 79.0605 19.7463C79.1199 20.2634 79.3656 20.7474 79.7976 21.1982ZM81.1014 23.8404L85.9664 19.1781L85.8747 19.0823L89.6267 15.4867L90.4754 16.3723L81.8584 24.6303L81.1014 23.8404Z' fill='white')
            path(d='M83.4447 26.9422L91.0693 22.2055L91.6482 23.1374L89.8126 24.2777L89.9386 23.945C90.2172 23.8894 90.493 23.8713 90.766 23.8909C91.0438 23.9075 91.2936 23.9578 91.5154 24.0418C91.8123 24.1313 92.0874 24.28 92.3405 24.4881C92.5984 24.6931 92.8177 24.9254 92.9985 25.1849C93.184 25.4415 93.3172 25.698 93.3981 25.9543L92.4239 26.5595C92.322 26.238 92.1499 25.9241 91.9075 25.6181C91.6652 25.312 91.3448 25.0903 90.9464 24.953C90.5908 24.8216 90.2348 24.7787 89.8781 24.8241C89.5262 24.8666 89.1818 24.9632 88.8448 25.1138C88.5126 25.2615 88.1958 25.4289 87.8946 25.616L84.0894 27.98L83.4447 26.9422Z' fill='white')
            path(d='M87.7882 35.9891C87.4853 35.1677 87.4047 34.3884 87.5462 33.6512C87.6897 32.9191 88.0302 32.2651 88.5678 31.6889C89.1053 31.1127 89.8186 30.6608 90.7075 30.333C91.6277 29.9937 92.4835 29.8642 93.2749 29.9444C94.0663 30.0247 94.7532 30.294 95.3356 30.7525C95.92 31.2162 96.3617 31.8535 96.6607 32.6645C96.9674 33.4963 97.0367 34.2768 96.8686 35.0061C96.7057 35.7335 96.3237 36.3792 95.7227 36.9434C95.1216 37.5075 94.3224 37.9587 93.3251 38.2969L92.8938 37.1272L93.2993 36.9777C94.3834 36.5543 95.1201 36.014 95.5096 35.3566C95.901 34.7044 95.9377 33.9468 95.6195 33.0838C95.2859 32.1793 94.7363 31.5935 93.9706 31.3267C93.2068 31.065 92.2816 31.1345 91.1951 31.5351C90.1345 31.9261 89.3987 32.4691 88.9876 33.164C88.5837 33.8621 88.5446 34.6531 88.8705 35.5369C89.0928 36.1399 89.4242 36.6142 89.8646 36.9597C90.3121 37.3085 90.8463 37.516 91.4672 37.5824L91.4478 38.8031C90.5921 38.7406 89.8417 38.4593 89.1966 37.9589C88.5586 37.4619 88.0891 36.8053 87.7882 35.9891ZM90.7258 31.2475L91.685 30.8938L94.0571 37.3272L93.098 37.6809L90.7258 31.2475Z' fill='white')
            path(d='M89.882 44.3443C89.8031 43.673 89.8578 43.0947 90.0461 42.6095C90.2352 42.1297 90.5173 41.7534 90.8925 41.4806C91.2676 41.2077 91.6918 41.0434 92.1651 40.9877C92.6493 40.9308 93.0734 40.9785 93.4372 41.131C93.8072 41.2883 94.122 41.5218 94.3816 41.8316C94.6418 42.1469 94.856 42.5206 95.024 42.9527C95.1871 43.391 95.342 43.8777 95.4887 44.4128C95.6414 44.9527 95.7788 45.4805 95.9009 45.9961C96.0291 46.5166 96.1467 46.9714 96.2539 47.3605L95.9392 46.9624C96.8216 46.8753 97.4537 46.628 97.8353 46.2204C98.2169 45.8129 98.3556 45.1662 98.2514 44.2802C98.1795 43.6694 97.9811 43.1683 97.6561 42.7769C97.3318 42.3911 96.8624 42.1478 96.248 42.0472L96.4558 40.826C97.2777 40.9358 97.945 41.2729 98.4578 41.8374C98.9705 42.4019 99.2848 43.1767 99.4007 44.1617C99.4965 44.9761 99.4237 45.6849 99.1822 46.2879C98.9469 46.8958 98.5542 47.3521 98.0043 47.6567C97.7586 47.7972 97.4781 47.9027 97.1628 47.9733C96.8475 48.0438 96.5248 48.0985 96.1946 48.1374L90.656 48.789L90.5288 47.7077L92.7657 47.4445L92.6705 47.7737C91.87 47.5611 91.2314 47.1592 90.7546 46.5681C90.2778 45.977 89.9869 45.2358 89.882 44.3443ZM90.9468 44.3613C91.0135 44.9281 91.1736 45.4114 91.4271 45.8111C91.6805 46.2109 91.9985 46.5194 92.3812 46.7366C92.7693 46.9532 93.1907 47.0737 93.6455 47.0983C93.9394 47.1307 94.2573 47.1296 94.5991 47.0949C94.9465 47.0596 95.2054 47.032 95.376 47.0119L95.191 47.5023C95.0874 47.0961 94.9796 46.654 94.8676 46.1763C94.7563 45.704 94.6373 45.2382 94.5108 44.7789C94.3848 44.325 94.2503 43.9169 94.1073 43.5543C94.0059 43.3096 93.8753 43.0767 93.7154 42.8556C93.561 42.6339 93.3675 42.4586 93.1347 42.3298C92.9026 42.2064 92.627 42.1636 92.3078 42.2011C92.0492 42.2315 91.8063 42.3243 91.579 42.4793C91.3524 42.6399 91.1762 42.8726 91.0503 43.1775C90.925 43.488 90.8905 43.8826 90.9468 44.3613Z' fill='white')
            path(d='M89.0548 61.6806L94.8555 62.7171C95.5375 62.8379 96.106 62.7417 96.5611 62.4285C97.0206 62.1216 97.3021 61.6763 97.4056 61.0926C97.4645 60.7598 97.4457 60.4216 97.349 60.0781C97.2523 59.7346 97.0532 59.4292 96.7517 59.1619C96.4492 58.9001 96.0252 58.7209 95.4796 58.6242L95.8104 57.9484C96.4462 58.0442 96.9782 58.2651 97.4064 58.6111C97.8337 58.9626 98.1372 59.3934 98.3169 59.9036C98.5011 60.4201 98.5409 60.973 98.4365 61.5623C98.2789 62.4516 97.8772 63.1147 97.2314 63.5517C96.5911 63.9897 95.8044 64.126 94.8715 63.9607L88.8415 62.8836L89.0548 61.6806ZM90.9243 51.1318L99.7627 52.6982L99.5712 53.7784L97.3944 53.3926L97.3712 53.5236L90.7096 52.343L90.9243 51.1318ZM89.9873 56.4184L95.7063 57.4404C96.4101 57.5652 96.9972 57.4751 97.4677 57.1702C97.9426 56.8717 98.2342 56.4169 98.3425 55.8059C98.4508 55.1948 98.3283 54.6639 97.9749 54.213C97.627 53.763 97.1065 53.4767 96.4137 53.3539L96.9341 52.7033C97.5015 52.8039 97.9852 53.0275 98.3852 53.3741C98.7907 53.7217 99.0805 54.1501 99.2547 54.6593C99.4344 55.1694 99.4721 55.7191 99.3676 56.3083C99.268 56.8703 99.0595 57.3482 98.7421 57.7421C98.4238 58.1415 98.0132 58.4261 97.5104 58.5958C97.0077 58.7656 96.4289 58.7924 95.7742 58.6764L89.777 57.6051L89.9873 56.4184Z' fill='white')
            path(d='M82.9413 65.797L83.9702 66.3751L83.7219 66.8171C83.5238 67.1697 83.4581 67.5014 83.525 67.8123C83.5843 68.1252 83.8265 68.4011 84.2516 68.64L93.3451 73.7493L92.7507 74.8072L83.3891 69.5472C82.737 69.1808 82.3397 68.7511 82.1973 68.258C82.0474 67.767 82.1529 67.2002 82.5139 66.5578L82.9413 65.797ZM94.8305 74.5839L96.0261 75.2556L95.4317 76.3135L94.2361 75.6418L94.8305 74.5839Z' fill='white')
            path(d='M80.873 75.7728C81.4439 75.0859 82.0873 74.6287 82.803 74.4012C83.5187 74.1736 84.2599 74.1585 85.0266 74.3557C85.7932 74.5529 86.5328 74.9476 87.2453 75.5398C87.9706 76.1426 88.4964 76.8033 88.8226 77.5217C89.1489 78.2401 89.2613 78.9684 89.16 79.7065C89.0594 80.4525 88.7289 81.1625 88.1686 81.8366C87.5941 82.5278 86.9491 82.9871 86.2333 83.2146C85.5184 83.4499 84.7793 83.4669 84.0162 83.2654C83.2537 83.0718 82.5163 82.6788 81.8038 82.0866C81.0785 81.4838 80.5488 80.8235 80.2148 80.1058C79.885 79.3917 79.7704 78.6616 79.871 77.9156C79.9716 77.1697 80.3056 76.4554 80.873 75.7728ZM81.7754 76.5228C81.1371 77.2907 80.9157 78.0734 81.1114 78.8708C81.3113 79.6718 81.8187 80.411 82.6336 81.0883C83.4698 81.7833 84.2932 82.1467 85.1037 82.1783C85.9107 82.2142 86.6315 81.8503 87.2663 81.0866C87.6953 80.5704 87.9326 80.0462 87.9781 79.5141C88.0243 78.9899 87.9097 78.4725 87.6341 77.9622C87.3593 77.4596 86.9531 76.9849 86.4155 76.5381C85.5836 75.8466 84.7563 75.4837 83.9337 75.4492C83.1154 75.4183 82.3959 75.7761 81.7754 76.5228Z' fill='white')
            path(d='M73.2557 82.7516C73.926 82.2696 74.6141 82.0307 75.32 82.0349C76.0292 82.0436 76.7117 82.2523 77.3674 82.6612C78.0264 83.0746 78.6162 83.6434 79.1371 84.3676C79.6676 85.1054 80.0207 85.8479 80.1963 86.5951C80.3707 87.3501 80.3436 88.0623 80.1152 88.7316C79.8867 89.4009 79.4306 89.9814 78.7468 90.4731C78.0811 90.9518 77.3884 91.194 76.669 91.1995C75.9495 91.205 75.2552 91.0082 74.586 90.609C73.9123 90.2131 73.315 89.653 72.7942 88.9288C72.2702 88.2 71.9277 87.4533 71.7668 86.6886C71.6059 85.9239 71.6432 85.1976 71.8787 84.5095C72.1174 83.826 72.5764 83.24 73.2557 82.7516ZM76.6807 80.5958L83.668 90.3125L82.6693 91.0306L79.6269 86.7998L79.7349 86.7222L75.79 81.2363L76.6807 80.5958ZM74.0217 83.6032C73.5134 83.9688 73.1827 84.4011 73.0297 84.9001C72.8767 85.3991 72.8755 85.9289 73.0261 86.4894C73.1754 87.0577 73.449 87.6185 73.8469 88.1718C74.2415 88.7206 74.6806 89.1556 75.164 89.4768C75.6475 89.7979 76.1523 89.9638 76.6786 89.9744C77.2004 89.9882 77.7222 89.8074 78.244 89.4322C78.7523 89.0667 79.0862 88.6389 79.2457 88.1488C79.4007 87.662 79.4029 87.1384 79.2523 86.5778C79.105 86.0218 78.8259 85.4581 78.4151 84.8868C78.0107 84.3245 77.5652 83.8805 77.0785 83.5549C76.595 83.2337 76.094 83.0685 75.5755 83.0592C75.0569 83.0499 74.539 83.2312 74.0217 83.6032Z' fill='white')
            path(d='M58.3955 85.4754L57.5274 90.4223L57.2536 89.0528L62.8438 97.8457L61.568 98.0771L56.9548 90.7119L57.4782 90.617L55.9907 99.0886L54.7641 99.3111L57.1934 85.6935L58.3955 85.4754Z' fill='white')
            path(d='M47.9376 90.1234C48.8297 90.168 49.5815 90.4083 50.1929 90.8444C50.8043 91.2805 51.2612 91.8643 51.5634 92.596C51.8657 93.3277 51.9937 94.1561 51.9474 95.0815C51.9003 96.0234 51.6873 96.8404 51.3083 97.5324C50.9293 98.2245 50.4141 98.7514 49.7628 99.1132C49.1056 99.4803 48.3394 99.642 47.4639 99.5982C46.5663 99.5533 45.8118 99.3128 45.2003 98.8768C44.5831 98.446 44.1261 97.8649 43.8294 97.1335C43.5269 96.4074 43.3987 95.5817 43.445 94.6563C43.4921 93.7144 43.7025 92.8945 44.0762 92.1966C44.4497 91.5043 44.965 90.9746 45.6221 90.6075C46.2793 90.2404 47.0511 90.0791 47.9376 90.1234ZM47.879 91.2953C46.8817 91.2454 46.1227 91.538 45.6022 92.1729C45.0814 92.8135 44.7945 93.6629 44.7416 94.7212C44.6873 95.8072 44.8906 96.6839 45.3516 97.3513C45.8071 98.0184 46.5307 98.3767 47.5225 98.4263C48.1929 98.4598 48.7546 98.3352 49.2076 98.0523C49.6547 97.7747 49.9998 97.3726 50.2428 96.8459C50.4799 96.3245 50.6159 95.7148 50.6508 95.0166C50.7049 93.9362 50.4989 93.0566 50.0329 92.3778C49.5666 91.7046 48.8487 91.3438 47.879 91.2953Z' fill='white')
            path(d='M38.3704 88.4697C38.8835 88.6296 39.3085 88.849 39.6452 89.128C39.9767 89.4053 40.2353 89.7209 40.421 90.0747C40.6015 90.4269 40.7202 90.8005 40.7771 91.1954C40.8323 91.5956 40.8369 92.0004 40.7906 92.4096C40.7428 92.8242 40.6587 93.2245 40.5384 93.6107L39.0703 98.3242L37.8959 97.9584L39.2577 93.5861C39.4044 93.1153 39.4953 92.6649 39.5306 92.2348C39.5659 91.8047 39.5327 91.4084 39.4308 91.0459C39.3221 90.6871 39.1372 90.377 38.8761 90.1158C38.6098 89.853 38.2518 89.6515 37.8022 89.5115C37.3895 89.3829 37.0049 89.3415 36.6483 89.3871C36.2864 89.4311 35.9585 89.5524 35.6645 89.751C35.3635 89.9532 35.0982 90.2275 34.8685 90.5738C34.6371 90.9253 34.4464 91.3418 34.2965 91.8232L33.5281 91.3837C33.8016 90.5055 34.1849 89.8153 34.6779 89.3131C35.1709 88.8109 35.735 88.4904 36.3702 88.3516C37.0053 88.2129 37.6721 88.2522 38.3704 88.4697ZM35.4231 87.7868L34.7657 89.8976L34.8847 89.9347L32.8729 96.3939L31.7064 96.0306L34.3757 87.4606L35.4231 87.7868Z' fill='white')
            path(d='M31.8632 86.1645L27.4896 94.003L26.5315 93.4685L27.5844 91.5814L27.6355 91.9335C27.4188 92.1172 27.1863 92.2666 26.938 92.3819C26.687 92.5019 26.4441 92.579 26.2094 92.613C25.9063 92.6786 25.5936 92.6818 25.2713 92.6226C24.9464 92.5682 24.642 92.4713 24.3581 92.3319C24.0715 92.1974 23.8307 92.0376 23.6356 91.8527L24.1945 90.8511C24.4395 91.083 24.7421 91.274 25.1024 91.4243C25.4627 91.5746 25.8504 91.6132 26.2655 91.5403C26.6401 91.4828 26.9724 91.3478 27.2624 91.1352C27.5496 90.9275 27.8041 90.6761 28.0258 90.381C28.2448 90.0908 28.4407 89.7909 28.6135 89.4812L30.7963 85.5692L31.8632 86.1645Z' fill='white')
            path(d='M20.8445 77.5945C21.4134 78.2053 21.7477 78.8683 21.8475 79.5837C21.9433 80.3029 21.8376 81.0207 21.5306 81.7373C21.2236 82.4539 20.7425 83.1174 20.0872 83.7278C19.436 84.3344 18.744 84.7675 18.0112 85.027C17.2747 85.2825 16.5551 85.3371 15.8523 85.191C15.1496 85.0448 14.5194 84.6724 13.9618 84.0738C13.3891 83.459 13.0565 82.8018 12.9639 82.1023C12.8714 81.4029 12.9862 80.7029 13.3083 80.0025C13.6225 79.3018 14.1113 78.6425 14.7747 78.0246C15.4259 77.418 16.1143 76.977 16.8398 76.7015C17.5612 76.4299 18.2697 76.3592 18.9652 76.4894C19.6566 76.6235 20.2831 76.9918 20.8445 77.5945ZM19.9285 78.2778C19.4952 77.8126 19.024 77.5339 18.5149 77.4415C18.0058 77.3491 17.4834 77.4127 16.9476 77.6323C16.4077 77.8557 15.885 78.2028 15.3794 78.6738C14.8657 79.1523 14.4824 79.6491 14.2295 80.1643C13.9725 80.6832 13.8741 81.1979 13.9342 81.7085C13.9905 82.215 14.2316 82.6968 14.6573 83.1539C15.0944 83.6231 15.5714 83.904 16.0883 83.9966C16.6052 84.0893 17.1315 84.0258 17.6673 83.8062C18.1994 83.5826 18.7121 83.241 19.2056 82.7813C19.7031 82.3179 20.0823 81.8248 20.3434 81.3021C20.5966 80.7792 20.6972 80.2587 20.6452 79.7405C20.5931 79.2224 20.3542 78.7348 19.9285 78.2778ZM18.6618 75.6163L13.7291 80.211L13.8196 80.3081L10.0154 83.8517L9.17899 82.9538L17.9157 74.8154L18.6618 75.6163Z' fill='white')
            path(d='M16.2947 72.4816L8.62253 77.1409L8.05306 76.2032L9.90007 75.0815L9.7707 75.4129C9.49161 75.4657 9.21564 75.4809 8.9428 75.4586C8.66522 75.4392 8.41597 75.3864 8.19505 75.3001C7.89903 75.2076 7.6255 75.0561 7.37445 74.8455C7.11867 74.6378 6.90171 74.4033 6.72357 74.142C6.54069 73.8836 6.41008 73.6258 6.33173 73.3687L7.31206 72.7734C7.41071 73.0959 7.57964 73.4115 7.81886 73.72C8.05807 74.0285 8.37618 74.2534 8.77319 74.3948C9.12741 74.5297 9.48306 74.5763 9.84013 74.5345C10.1925 74.4955 10.5379 74.4024 10.8763 74.2552C11.21 74.1109 11.5284 73.9467 11.8315 73.7627L15.6605 71.4373L16.2947 72.4816Z' fill='white')
            path(d='M12.0538 63.4072C12.3489 64.2314 12.4222 65.0114 12.2737 65.7473C12.1234 66.4779 11.7767 67.1288 11.2338 67.6998C10.6908 68.2709 9.9733 68.7161 9.08128 69.0355C8.15795 69.3661 7.30099 69.4876 6.51039 69.3999C5.71979 69.3122 5.03545 69.0364 4.45736 68.5724C3.87741 68.1033 3.44175 67.4618 3.15038 66.648C2.85153 65.8134 2.78959 65.0322 2.96455 64.3045C3.1343 63.5787 3.52234 62.9366 4.12867 62.3781C4.735 61.8197 5.5384 61.3761 6.53888 61.0473L6.95913 62.221L6.55224 62.3667C5.46425 62.7798 4.72241 63.3132 4.32674 63.9669C3.9292 64.6154 3.88546 65.3726 4.19551 66.2385C4.52051 67.1462 5.06459 67.737 5.82776 68.0111C6.58906 68.28 7.51484 68.2192 8.60509 67.8289C9.66926 67.4478 10.4102 66.9118 10.8278 66.2209C11.2383 65.5265 11.2848 64.736 10.9673 63.8492C10.7507 63.244 10.4238 62.7667 9.98667 62.417C9.54248 62.0641 9.01026 61.8515 8.39 61.7793L8.42089 60.5588C9.27595 60.6293 10.0237 60.9178 10.664 61.4241C11.2973 61.9272 11.7606 62.5882 12.0538 63.4072ZM9.07159 68.1209L8.10915 68.4655L5.79777 62.0101L6.76021 61.6654L9.07159 68.1209Z' fill='white')
            path(d='M10.0896 55.0368C10.1639 55.7061 10.1057 56.2817 9.91495 56.7638C9.72357 57.2404 9.44016 57.6135 9.06471 57.8828C8.68927 58.1522 8.26567 58.3131 7.79393 58.3656C7.31121 58.4192 6.88914 58.3689 6.52771 58.2147C6.16019 58.0556 5.84813 57.821 5.59153 57.5108C5.33433 57.195 5.12345 56.8214 4.95888 56.3899C4.7992 55.9523 4.64804 55.4665 4.50542 54.9326C4.35671 54.3938 4.22323 53.8672 4.10499 53.3528C3.98065 52.8335 3.86637 52.3798 3.76215 51.9915L4.07299 52.3901C3.1935 52.4712 2.56237 52.7135 2.17961 53.1169C1.79685 53.5204 1.65454 54.1637 1.75266 55.0469C1.82032 55.6558 2.01474 56.1562 2.33595 56.5481C2.65654 56.9345 3.12249 57.1798 3.73381 57.284L3.51896 58.499C2.70103 58.3845 2.03851 58.0444 1.53142 57.4788C1.02432 56.9131 0.716227 56.1394 0.607128 55.1575C0.516924 54.3457 0.594024 53.6402 0.838429 53.0411C1.07674 52.4371 1.47077 51.9851 2.02053 51.6852C2.26616 51.5469 2.54622 51.4436 2.86072 51.3753C3.17521 51.3071 3.49702 51.2546 3.82615 51.2181L9.34721 50.6046L9.46698 51.6825L7.23716 51.9303L7.33407 51.603C8.13006 51.8199 8.76362 52.2243 9.23476 52.8162C9.7059 53.408 9.99083 54.1482 10.0896 55.0368ZM9.02906 55.0131C8.96628 54.4481 8.80994 53.9657 8.56005 53.5658C8.31016 53.166 7.99536 52.8567 7.61565 52.6379C7.23045 52.4197 6.81143 52.2969 6.35858 52.2694C6.06602 52.2353 5.74939 52.2344 5.40869 52.2667C5.0625 52.2996 4.80438 52.3255 4.63433 52.3444L4.82175 51.8571C4.92232 52.2624 5.02684 52.7034 5.13533 53.18C5.24321 53.6512 5.35871 54.1159 5.48183 54.5742C5.60433 55.0271 5.73568 55.4345 5.87586 55.7966C5.97521 56.041 6.10381 56.2738 6.26167 56.495C6.41404 56.7169 6.60573 56.8927 6.83672 57.0226C7.06711 57.1469 7.34138 57.1914 7.65953 57.156C7.91735 57.1274 8.15992 57.0366 8.38726 56.8836C8.61399 56.7251 8.79105 56.4944 8.91844 56.1915C9.04521 55.8831 9.08208 55.4903 9.02906 55.0131Z' fill='white')
            path(d='M11.0259 37.7219L5.23479 36.6328C4.55394 36.5057 3.98458 36.5968 3.52671 36.9059C3.06441 37.2085 2.77888 37.6513 2.67013 38.2341C2.60813 38.5663 2.62391 38.9046 2.71747 39.249C2.81103 39.5934 3.00735 39.9006 3.30643 40.1706C3.60652 40.4351 4.02891 40.6182 4.57359 40.7198L4.2367 41.3925C3.60182 41.291 3.07184 41.0652 2.64675 40.7154C2.22269 40.3601 1.92312 39.9265 1.74807 39.4148C1.56859 38.8965 1.53373 38.3433 1.6435 37.755C1.80917 36.8672 2.21687 36.2077 2.86661 35.7766C3.51089 35.3444 4.29874 35.2153 5.23014 35.3891L11.25 36.5209L11.0259 37.7219ZM9.06075 48.2533L0.236936 46.6067L0.438181 45.5282L2.61145 45.9338L2.63585 45.8031L9.28639 47.0441L9.06075 48.2533ZM10.0456 42.9753L4.33619 41.9015C3.63355 41.7703 3.04563 41.8551 2.57244 42.1557C2.09482 42.4499 1.79909 42.902 1.68525 43.512C1.57141 44.122 1.68913 44.6541 2.03841 45.1082C2.38223 45.5613 2.90002 45.8524 3.59176 45.9814L3.06543 46.6272C2.49896 46.5215 2.01731 46.2936 1.62047 45.9433C1.21819 45.5921 0.93225 45.1611 0.762643 44.6503C0.58759 44.1386 0.554948 43.5885 0.664718 43.0003C0.769406 42.4393 0.982236 41.9633 1.30321 41.5722C1.62519 41.1758 2.03833 40.8949 2.54261 40.7298C3.0469 40.5646 3.62585 40.543 4.27946 40.6649L10.2667 41.7906L10.0456 42.9753Z' fill='white')
            path(d='M17.1468 33.618L16.12 33.0279L16.3735 32.5868C16.5757 32.2349 16.6448 31.9027 16.5808 31.5901C16.5243 31.2755 16.284 30.9963 15.8598 30.7525L6.78518 25.5372L7.3919 24.4815L16.734 29.8506C17.3848 30.2246 17.7792 30.6597 17.9173 31.1559C18.063 31.65 17.9516 32.2176 17.5831 32.8588L17.1468 33.618ZM5.30287 24.6853L4.1098 23.9997L4.71652 22.944L5.90959 23.6296L5.30287 24.6853Z' fill='white')
            path(d='M19.3755 23.718C18.7956 24.396 18.1467 24.8435 17.4287 25.0607C16.7108 25.2778 15.9703 25.2825 15.2074 25.0748C14.4445 24.8671 13.7114 24.4625 13.0082 23.861C12.2923 23.2488 11.7765 22.5816 11.4608 21.8595C11.1451 21.1374 11.043 20.4085 11.1546 19.6727C11.2656 18.9292 11.6056 18.2247 12.1746 17.5594C12.7581 16.8772 13.4088 16.4275 14.1268 16.2104C14.8441 15.9854 15.5825 15.9789 16.3418 16.1908C17.1005 16.395 17.8315 16.7977 18.5347 17.3992C19.2506 18.0115 19.7703 18.6783 20.0938 19.3998C20.4131 20.1177 20.5173 20.8484 20.4063 21.592C20.2953 22.3355 19.9517 23.0442 19.3755 23.718ZM18.4848 22.9563C19.1331 22.1983 19.3652 21.4197 19.181 20.6206C18.9926 19.8178 18.4963 19.0725 17.692 18.3846C16.8666 17.6787 16.0494 17.3042 15.2404 17.2612C14.435 17.214 13.7099 17.5673 13.0653 18.3211C12.6295 18.8306 12.3851 19.3508 12.3322 19.8815C12.2787 20.4045 12.3859 20.9227 12.6539 21.4363C12.9213 21.9421 13.3203 22.4218 13.8509 22.8756C14.6721 23.5779 15.4932 23.9521 16.3142 23.9981C17.131 24.0405 17.8546 23.6932 18.4848 22.9563Z' fill='white')
            path(d='M26.9882 16.7127C26.3112 17.1915 25.6182 17.4261 24.9092 17.4163C24.197 17.402 23.5132 17.187 22.8578 16.7712C22.1993 16.3509 21.6113 15.775 21.0939 15.0435C20.5668 14.2983 20.218 13.5498 20.0475 12.7979C19.8783 12.0383 19.911 11.3232 20.1457 10.6528C20.3804 9.98237 20.8431 9.40291 21.5337 8.91444C22.2061 8.43881 22.9037 8.20106 23.6263 8.20117C24.3489 8.20128 25.0447 8.4044 25.7137 8.81055C26.3873 9.21347 26.9828 9.78069 27.5002 10.5122C28.0208 11.2482 28.3589 12.0009 28.5145 12.7702C28.67 13.5395 28.6269 14.2687 28.385 14.9579C28.1398 15.6425 27.6742 16.2274 26.9882 16.7127ZM23.5314 18.851L16.5898 9.03711L17.5985 8.32367L20.621 12.5968L20.5119 12.6739L24.431 18.2147L23.5314 18.851ZM26.2255 15.8513C26.739 15.4882 27.0745 15.0566 27.232 14.5566C27.3896 14.0566 27.395 13.5245 27.2482 12.9603C27.1027 12.3884 26.8323 11.823 26.437 11.2642C26.0449 10.7099 25.6074 10.2696 25.1243 9.9432C24.6413 9.61685 24.1355 9.4463 23.607 9.43156C23.0831 9.41361 22.5576 9.59102 22.0305 9.96381C21.5171 10.327 21.1784 10.754 21.0144 11.2449C20.8549 11.7326 20.8486 12.2585 20.9955 12.8227C21.1391 13.3823 21.415 13.9506 21.8231 14.5277C22.2248 15.0956 22.6688 15.545 23.155 15.8759C23.6381 16.2023 24.14 16.3722 24.6607 16.3856C25.1814 16.399 25.703 16.2209 26.2255 15.8513Z' fill='white')
            path(d='M60.7934 64.8325C60.7886 67.3298 61.4182 69.7874 62.623 71.9748C61.2883 69.778 59.4064 67.9651 57.1612 66.7135C54.9161 65.4619 52.3845 64.8143 49.8141 64.8341C47.2437 64.8539 44.7224 65.5404 42.4968 66.8265C40.2712 68.1126 38.4174 69.9542 37.1167 72.1713C38.395 69.9179 39.062 67.3695 39.0515 64.7788C39.041 62.1881 38.3534 59.6452 37.057 57.4022C35.7605 55.1593 33.9002 53.2942 31.6605 51.992C29.4209 50.6898 26.8797 49.9958 24.2891 49.9787C26.8868 49.9489 29.4316 49.2408 31.6714 47.9246C33.9112 46.6084 35.7681 44.7298 37.0582 42.4748C38.3483 40.2199 39.0267 37.667 39.0263 35.0691C39.0259 32.4712 38.3466 29.9186 37.0557 27.6641C38.3435 29.898 40.19 31.7589 42.4139 33.0639C44.6378 34.369 47.1628 35.0736 49.7411 35.1084C52.3194 35.1433 54.8625 34.5073 57.1209 33.2628C59.3793 32.0182 61.2753 30.208 62.623 28.0097C61.4034 30.2775 60.792 32.8226 60.8483 35.397C60.9047 37.9713 61.6269 40.4872 62.9446 42.6995C64.2622 44.9118 66.1305 46.7451 68.3673 48.0208C70.6041 49.2964 73.1332 49.971 75.7082 49.9787C73.7519 49.9688 71.813 50.3459 70.003 51.0881C68.193 51.8304 66.5476 52.9232 65.1615 54.3036C63.7754 55.6841 62.6759 57.325 61.9262 59.1319C61.1766 60.9389 60.7916 62.8762 60.7934 64.8325Z' fill='white')

        .print__decor
          img(src="./img/print/arrow-1.png")

        .print__description
          h2.print__title.u-color-pink Your Career Opportunities Report
          p.print__name [Name]

      .print__page.print__page--white.print__page--2
        .print__decor
          img(src="./img/print/arrow-2.png")

        .print__headline
          h3 Contents
        .print__content
          .print__row
            .print__left
              h5.print__bullet.u-color-white 1
            .print__right
              h5 Snapshot of Your Career Journey
              ul.list
                li.list__item
                  p Your Career Milestones
                  p 4
                li.list__item
                  p Your Career in Numbers
                  p 5
                li.list__item
                  p Your Strengths Derived from Your Resume
                  p 6

          .print__row
            .print__left
              h5.print__bullet.u-color-white 2
            .print__right
              h5 Analyzing Your Skills
              ul.list
                li.list__item
                  p Your Top Talents
                  p 8
                li.list__item
                  p Trending Skills
                  p 9
                li.list__item
                  p Skills That Are Phasing Out
                  p 10

          .print__row
            .print__left
              h5.print__bullet.u-color-white 3
            .print__right
              h5 Your Ideal Roles
              ul.list
                li.list__item
                  p Optimal Positions for You in Your Field
                  p 12
                li.list__item
                  p Higher Positions You Can Aspire to in Your Field
                  p 13
                li.list__item
                  p Your Optimal Positions in [Aspired Field Name]
                  p 14
                li.list__item
                  p Unexpected Roles to Consider
                  p 15

          .print__row
            .print__left
              h5.print__bullet.u-color-white 4
            .print__right
              h5 Your Personalized Roadmap
              ul.list
                li.list__item
                  p Skills to Improve in Your Current Role
                  p 17
                li.list__item
                  p Skills to Master for Higher Roles in Your Field
                  p 18
                li.list__item
                  p Your Skills Assessment
                  p 19
                li.list__item
                  p Relevant Courses to Master Your Skills
                  p 20

      .print__page.print__page--3
        .print__picture
          svg(width='209' height='30' viewBox='0 0 209 30' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M8.48627 22.5127C4.75117 22.5127 2.80983 19.4474 2.80983 15.5647C2.80983 11.682 4.73982 8.5827 8.48627 8.5827C11.1372 8.5827 12.8004 10.0472 13.2091 12.4313H15.9905C15.3775 8.68488 12.6301 6.30078 8.48627 6.30078C3.25827 6.30078 0 10.4559 0 15.5647C0 20.6735 3.25827 24.8286 8.48627 24.8286C12.8685 24.8286 15.6159 22.3764 15.9905 18.1532H13.2715C13.0388 20.8779 11.3415 22.5127 8.48627 22.5127Z' fill='black')
            path(d='M26.1059 6.31787C20.8779 6.31787 17.6196 10.473 17.6196 15.5818C17.6196 20.6906 20.8779 24.8458 26.1059 24.8458C31.3339 24.8458 34.5581 20.6906 34.5581 15.5818C34.5581 10.473 31.3679 6.31787 26.1059 6.31787ZM26.1059 22.5298C22.3708 22.5298 20.4295 19.4645 20.4295 15.5818C20.4295 11.6991 22.3651 8.59979 26.1059 8.59979C29.8467 8.59979 31.7426 11.6991 31.7426 15.5818C31.7426 19.4645 29.841 22.5127 26.1059 22.5127V22.5298Z' fill='black')
            path(d='M55.3 6.31801C54.2079 6.31571 53.135 6.60488 52.192 7.1557C51.249 7.70652 50.4701 8.49902 49.9357 9.4514H49.8676C49.5464 8.50343 48.9261 7.68539 48.1 7.12031C47.2739 6.55524 46.2866 6.27369 45.2867 6.31801C44.2493 6.33067 43.2319 6.60594 42.3296 7.11813C41.4273 7.63032 40.6695 8.36275 40.1269 9.24705H40.0587V6.72672H37.3057V24.3237H40.0587V13.3852C40.0657 12.1695 40.5367 11.0024 41.3755 10.1224C42.2143 9.24247 43.3575 8.71612 44.5715 8.65102C46.3709 8.65102 47.5914 9.94526 47.5914 12.125V24.352H50.3387V13.3852C50.3387 10.6264 52.3766 8.65102 54.6528 8.65102C56.4182 8.65102 57.8771 9.94526 57.8771 12.125V24.352H60.6301V11.9944C60.6301 8.3445 58.422 6.31801 55.3 6.31801Z' fill='black')
            path(d='M72.7095 6.31785C71.6032 6.28781 70.5071 6.53736 69.5229 7.0434C68.5386 7.54943 67.6978 8.2956 67.0785 9.21284H67.0104V6.72656H64.2573V29.9999H67.0104V22.2743H67.0785C68.5374 24.1475 70.2346 24.8628 72.613 24.8628C77.3585 24.8628 80.2478 21.2526 80.2478 15.5988C80.2478 9.72372 77.1598 6.31785 72.7095 6.31785ZM72.403 22.5297C68.3671 22.5297 66.8401 19.4304 66.8401 15.6159C66.8401 11.8013 68.6055 8.66791 72.4427 8.66791C75.7691 8.66791 77.4323 11.6651 77.4323 15.6159C77.4323 19.5667 75.7691 22.5468 72.403 22.5468V22.5297Z' fill='black')
            path(d='M90.5281 22.5127C86.9973 22.5127 85.0617 19.788 84.8516 16.2118H98.4297C98.4297 10.3878 95.5915 6.30078 90.3521 6.30078C85.3625 6.30078 82.0361 10.4559 82.0361 15.5647C82.0361 20.6735 85.1582 24.8286 90.5224 24.8286C94.4959 24.8286 97.2433 22.683 98.055 18.9025H95.353C94.74 21.2866 93.0427 22.5127 90.5281 22.5127ZM90.3578 8.48053C93.5139 8.48053 95.3133 10.6262 95.4666 14.157H84.9084C85.3058 10.9327 87.0711 8.48053 90.3294 8.48053H90.3578Z' fill='black')
            path(d='M108.318 8.99137V6.7208H104.912V1.20898H102.165V6.76054H99.6104V9.03111H102.159V21.0765C102.159 23.5628 103.788 24.4824 106.03 24.4824C106.771 24.4798 107.509 24.3998 108.233 24.2439V21.8598H108.125C107.653 22.009 107.161 22.0893 106.666 22.0982C105.531 22.0982 104.901 21.6896 104.901 20.4635V8.99137H108.318Z' fill='black')
            path(d='M118.502 22.5127C114.976 22.5127 113.041 19.788 112.825 16.2118H126.403C126.403 10.3878 123.565 6.30078 118.32 6.30078C113.33 6.30078 110.004 10.4559 110.004 15.5647C110.004 20.6735 113.126 24.8286 118.49 24.8286C122.464 24.8286 125.211 22.683 126.028 18.9025H123.349C122.748 21.2866 121.05 22.5127 118.502 22.5127ZM118.331 8.48053C121.487 8.48053 123.287 10.6262 123.44 14.157H112.905C113.308 10.9327 115.073 8.48053 118.343 8.48053H118.331Z' fill='black')
            path(d='M137.478 6.31774C136.397 6.2788 135.324 6.50709 134.352 6.98237C133.381 7.45766 132.542 8.16524 131.909 9.04242H131.841V6.72644H129.094V24.3234H131.841V13.5211C131.811 12.8774 131.915 12.2343 132.146 11.6327C132.377 11.0311 132.73 10.4841 133.184 10.0262C133.638 9.56837 134.181 9.20971 134.781 8.97294C135.38 8.73617 136.022 8.62645 136.666 8.65074C139.141 8.65074 140.64 9.94498 140.64 12.2269V24.3518H143.393V11.9942C143.387 8.34423 141.145 6.31774 137.478 6.31774Z' fill='black')
            path(d='M149.835 21.8316V21.7294L159.916 8.37847V6.74365H146.86V9.15614H156.062V9.25831L146.287 22.1665V24.3463H160.291V21.8259L149.835 21.8316Z' fill='black')
            path(d='M168.505 0V24.3519H171.252V0H168.505Z' fill='black')
            path(d='M200.855 6.31787C199.745 6.29321 198.647 6.54863 197.661 7.06057C196.676 7.5725 195.836 8.32444 195.218 9.24691H195.15V0H192.397V24.3519H195.15V22.0359H195.218C195.815 22.9486 196.639 23.6902 197.61 24.1878C198.58 24.6854 199.663 24.922 200.753 24.8741C205.504 24.8741 208.319 21.2639 208.319 15.6102C208.319 9.72373 205.3 6.31787 200.855 6.31787ZM200.548 22.5298C196.813 22.5298 194.98 19.5667 194.98 15.6159C194.98 11.8013 196.745 8.66792 200.582 8.66792C203.909 8.66792 205.504 11.6651 205.504 15.6159C205.504 19.5667 203.909 22.5468 200.548 22.5468V22.5298Z' fill='black')
            path(d='M185.517 6.57324H176.287V8.99139H185.097V9.09358L173.67 24.1815H176.861L186.51 11.6934L188.31 9.36604L187.237 8.29887L185.517 6.57324Z' fill='black')
            path(d='M188.934 9.99645V19.1696H186.522V8.31055H187.249L188.321 9.38339L188.934 9.99645Z' fill='black')

      .print__page.print__page--white.print__page--4
        p.print__count 4
        .print__decor
          img(src="./img/print/arrow-2.png")
        .print__headline
          h3 Your Career Milestones
          p.u-color-purple Uncover the pivotal moments and transitions in your career that have shaped your unique skill set and professional worth.
        .print__quotes
          .quotes
            p.quotes__item
              strong Successful Zero-Budget Event Promotion:
              | Successfully promoted a conference in Amsterdam on a zero marketing budget, selling it out two weeks before the event, demonstrating the ability to generate high-impact results with limited resources.
            p.quotes__item
              strong Leading Marketing at Matchr:
              | Taking charge of marketing at Matchr as Head of Marketing, including branding, content strategy, event promotion, email marketing, paid advertising, and product management, showing a significant transition from content to a broader marketing leadership role.
            p.quotes__item
              strong Development of a New Service:
              | Development and management of a new service called Employer Branding at Matchr, indicating a milestone in product development and client relations.
            p.quotes__item
              strong Transition to Marketing from Writing:
              | Progressing from a Web Content Writer at PromoPult to an Editor role and later advancing to the Head of Content at PromoNavigator, highlighting a successful career progression from content creation to content strategy and leadership.
            p.quotes__item
              strong Certifications and Skill Development:
              | Acquired multiple certifications such as Google Ads Search, Display, and Shopping Ads Certification, as well as Email Marketing from HubSpot Academy, underscoring a commitment to skill development and expertise in digital marketing tools.

      .print__page.print__page--white.print__page--5
        p.print__count 5
        .print__decor
          img(src="./img/print/arrow-2.png")
        .print__headline
          h3 Your Career in Numbers
          p.u-color-purple A numerical perspective on your career’s impact, highlighting your experience and achievements
        .print__quotes(style="max-width: 76mm")
          .quotes
            p.quotes__item
              strong 8+ years in Marketing:
              | Your career trajectory shows a continuous presence in the marketing field from at least January 2015, beginning with your role as Editor at WebArtex, up to your current position as Head of Marketing at Matchr.
            p.quotes__item
              strong 1,000 leads from a single piece:
              | You’ve demonstrated significant success in content marketing, specifically with a research project in the recruitment niche that generated 1,000 leads, illustrating your ability to create impactful lead-generation content.
            p.quotes__item
              strong 5 marketing certifications:
              | You have earned several certifications such as Microsoft Advertising Search Certification and various Google Ads certifications, demonstrating your commitment to professional development in marketing expertise.

      .print__page.print__page--white.print__page--6
        p.print__count 6
        .print__decor
          img(src="./img/print/arrow-2.png")
        .print__headline
          h3 Your Strengths Derived from Your Resume
          p.u-color-purple A focused insight into your inherent capabilities, highlighting how they can be effectively utilized in various professional settings.
        .print__quotes
          .quotes.quotes--pink
            p.quotes__item
              strong Strategic Content Marketing:
              | Your extensive experience in overseeing and executing content strategies, with proven results like driving 1,000 leads through a single research piece, demonstrates your strong understanding and strategic use of content marketing to build brand authority and generate leads.
            p.quotes__item
              strong Event Promotion and Management:
              | You've showcased a strong capability in event marketing, evidenced by your success in promoting a conference in Amsterdam with a zero marketing budget, along with your current role involving promotion of meetups, conferences, and workshops, ensuring full attendance at these events.
            p.quotes__item
              strong Certified Expertise in Paid Advertising and Email Marketing:
              | You hold certifications from major platforms like Google and Microsoft, solidifying your expertise in paid advertising. Coupled with your proficiency in email marketing as a certified Hubspot email marketer, you have a strong grasp of various digital marketing tools and how to leverage them for lead generation and conversion.

    +section-description
    +section-cta
  +footer
