mixin section-cta
  section.section-cta&attributes(attributes)
    .container
      .cta.default-animation.js-on-scroll-animation
        p.cta__text.default-animation.js-on-scroll-animation Drive your organization through skill
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSdSK4q9nvmsCvMz-n8TXqmILbwBmWEoBt1dawihkkSaMFbI2Q/viewform?usp=sf_link" target="_blank").button.button--md.button--black.cta__button.default-animation.js-on-scroll-animation Join whitelist
        .cta__decor
          svg(width='464' height='378' viewBox='0 0 464 378' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M403.636 172.672L403.454 172.555C364.763 146.929 319.274 137.422 268.24 144.299C239.379 148.181 208.715 157.309 176.693 171.506C212.321 98.0859 321.128 64.9487 356.763 59.0992C409.449 50.4598 431.804 47.444 441.017 46.446L417.823 79.1025L427.411 85.9281L463.049 35.8252L412.695 0L405.851 9.63012L440.532 34.3319C430.584 35.3881 407.646 38.4913 354.779 47.1672C331.558 50.977 293.516 62.0349 256.365 81.6375C211.88 105.108 180.243 135.069 164.851 168.279C163.193 171.849 161.72 175.455 160.431 179.097C152.946 182.763 145.396 186.697 137.781 190.898C59.5294 234.066 0.707856 291.424 0.125901 292L8.58613 300.632C9.16081 300.071 66.9712 243.725 143.826 201.373C147.905 199.12 151.96 196.951 155.991 194.868C148.67 229.928 157.15 268.041 181.351 308.506C212.995 361.45 266.488 385.948 328.103 375.72C358.071 370.654 386.284 358.13 410.149 339.298C434.018 320.263 449.967 296.596 455.059 272.652C463.012 235.464 444.715 199.952 403.636 172.672ZM443.239 270.19C433.913 314.042 383.599 354.304 326.111 363.839C300.146 368.144 274.769 365.668 252.728 356.657C227.653 346.415 207.129 328.138 191.712 302.344C166.95 260.866 159.743 222.403 170.296 187.773C205.417 171.018 238.845 160.463 269.984 156.282C318.013 149.842 360.649 158.715 396.8 182.659L396.974 182.776C434.151 207.441 450.153 237.672 443.239 270.19Z' fill='white')
