mixin section-description
  section.section-description&attributes(attributes)
    .container
      article.article.article--left
        .article__left
          .article__head
            h2.h2.article__title
              | Jobs & Skills
              br
              | Framework
            .article__icon
              svg(viewBox='0 0 50 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M36.1314 30.2216C35.3786 32.0314 34.9938 33.9714 34.9991 35.9299C34.9988 37.2309 35.1715 38.5209 35.5088 39.7673C34.5339 38.7965 33.4243 37.9605 32.209 37.287C29.9499 36.0352 27.4027 35.3875 24.8166 35.4073C22.2304 35.427 19.6935 36.1134 17.4541 37.3996C16.3087 38.0574 15.2611 38.8607 14.3358 39.7852C14.682 38.5094 14.8569 37.188 14.8515 35.8553C14.841 33.2645 14.1492 30.7216 12.845 28.4787C11.5407 26.2358 9.66951 24.371 7.41703 23.0688C6.25744 22.3984 5.01751 21.889 3.73179 21.5501C5.02522 21.2067 6.27198 20.6909 7.43697 20.0125C9.69283 18.6989 11.5636 16.8209 12.8628 14.5652C14.1621 12.3095 14.8444 9.75479 14.8417 7.15531C14.8403 5.84622 14.6652 4.54885 14.3252 3.29564C15.2319 4.20281 16.2563 4.99374 17.3755 5.6457C19.6128 6.94901 22.1522 7.65228 24.745 7.68682C27.3377 7.72135 29.8952 7.08598 32.1668 5.84275C33.4104 5.1621 34.5451 4.31202 35.5401 3.32152C35.1741 4.67197 35.0002 6.07265 35.0284 7.48265C35.0799 10.0609 35.8053 12.5814 37.1332 14.7965C38.4611 17.0117 40.3456 18.8452 42.6015 20.1174C43.7099 20.7424 44.8892 21.2215 46.1098 21.5467C45.4811 21.7119 44.8626 21.9182 44.2584 22.1647C42.4361 22.9081 40.7798 24.0026 39.3849 25.3853C37.99 26.7681 36.8842 28.4118 36.1314 30.2216Z' stroke='black')
          h3.article__subtitle Make your skills repository live in real time
          p.article__text Audit, create and develop your skills repositories with our methodological support. These usually tedious processes are carried out serenely and quickly thanks to our technological and human know-how. You have a dynamic and multilingual tool that feeds itself with external data to govern your skills in real time.
        .article__right
          .article__picture
            img(src="./img/section-description/1.webp" loading="lazy" alt="Jobs & Skills Framework").img

      article.article.article--right
        .article__left
          .article__picture
            img(src="./img/section-description/2.webp"  loading="lazy" alt="Skills Mapping").img
        .article__right
          .article__head
            h2.h2.article__title Skills Mapping
            .article__icon
              svg(viewBox='0 0 60 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M36.4333 21.3688L53.3878 14.6584L39.4595 26.3853L38.7743 26.9622L39.6249 27.2427L56.9267 32.9481L38.7141 33.0253L37.8209 33.0291L38.2911 33.7885L47.8648 49.2493L33.847 37.6295L33.1634 37.0629L33.0333 37.9412L30.3693 55.9199L27.1366 38.0501L26.9783 37.1749L26.3129 37.765L12.6816 49.8525L21.7262 34.0746L22.1696 33.3012L21.2784 33.3262L3.04722 33.8375L20.1665 27.5551L21.0071 27.2466L20.3035 26.6928L6.01167 15.4432L23.1773 21.5681L24.0153 21.8671L23.8349 20.9959L20.1531 3.20686L29.3355 18.9095L29.7837 19.676L30.2067 18.8953L38.8619 2.9217L35.7566 20.8184L35.6042 21.6969L36.4333 21.3688Z' stroke='black')
          h3.article__subtitle Identify your transformation needs
          p.article__text Visualize in real time the skills that can be mobilized, the skills at risk to act on the transformation of your business. Your employees can self-evaluate and receive managerial feedback that will be the basis for future HR support. The mapping of skills provides the basis for your HR actions, from the necessary upgrades to skills to internal mobility. The awareness about each person's career aspirations ensures the sustainability of your decisions.

      article.article.article--left
        .article__left
          .article__head.article__head--end
            h2.h2.article__title
              | Test &
              br
              | Assessment
            .article__icon
              svg(viewBox='0 0 50 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M36.1314 30.2216C35.3786 32.0314 34.9938 33.9714 34.9991 35.9299C34.9988 37.2309 35.1715 38.5209 35.5088 39.7673C34.5339 38.7965 33.4243 37.9605 32.209 37.287C29.9499 36.0352 27.4027 35.3875 24.8166 35.4073C22.2304 35.427 19.6935 36.1134 17.4541 37.3996C16.3087 38.0574 15.2611 38.8607 14.3358 39.7852C14.682 38.5094 14.8569 37.188 14.8515 35.8553C14.841 33.2645 14.1492 30.7216 12.845 28.4787C11.5407 26.2358 9.66951 24.371 7.41703 23.0688C6.25744 22.3984 5.01751 21.889 3.73179 21.5501C5.02522 21.2067 6.27198 20.6909 7.43697 20.0125C9.69283 18.6989 11.5636 16.8209 12.8628 14.5652C14.1621 12.3095 14.8444 9.75479 14.8417 7.15531C14.8403 5.84622 14.6652 4.54885 14.3252 3.29564C15.2319 4.20281 16.2563 4.99374 17.3755 5.6457C19.6128 6.94901 22.1522 7.65228 24.745 7.68682C27.3377 7.72135 29.8952 7.08598 32.1668 5.84275C33.4104 5.1621 34.5451 4.31202 35.5401 3.32152C35.1741 4.67197 35.0002 6.07265 35.0284 7.48265C35.0799 10.0609 35.8053 12.5814 37.1332 14.7965C38.4611 17.0117 40.3456 18.8452 42.6015 20.1174C43.7099 20.7424 44.8892 21.2215 46.1098 21.5467C45.4811 21.7119 44.8626 21.9182 44.2584 22.1647C42.4361 22.9081 40.7798 24.0026 39.3849 25.3853C37.99 26.7681 36.8842 28.4118 36.1314 30.2216Z' stroke='black')
          h3.article__subtitle Objectively validate the skills of your teams
          p.article__text Validate the level of your employees with tests from skills from the largest professional test publishers. The reliability of the skills levels thus obtained facilitates the individualized and collective design of training programs. Each skill is objectified and available in a central tool that provides you with intelligent suggestions by matching thanks to our AI.
        .article__right
          .article__picture
            img(src="./img/section-description/3.webp" loading="lazy" alt="AI Skills Engine").img

      article.article.article--right
        .article__left
          .article__picture
            img(src="./img/section-description/4.webp" loading="lazy" alt="Test & Assessment").img
        .article__right
          .article__head
            h2.h2.article__title HR Dashboard
            .article__icon
              svg(viewBox='0 0 60 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M36.4333 21.3688L53.3878 14.6584L39.4595 26.3853L38.7743 26.9622L39.6249 27.2427L56.9267 32.9481L38.7141 33.0253L37.8209 33.0291L38.2911 33.7885L47.8648 49.2493L33.847 37.6295L33.1634 37.0629L33.0333 37.9412L30.3693 55.9199L27.1366 38.0501L26.9783 37.1749L26.3129 37.765L12.6816 49.8525L21.7262 34.0746L22.1696 33.3012L21.2784 33.3262L3.04722 33.8375L20.1665 27.5551L21.0071 27.2466L20.3035 26.6928L6.01167 15.4432L23.1773 21.5681L24.0153 21.8671L23.8349 20.9959L20.1531 3.20686L29.3355 18.9095L29.7837 19.676L30.2067 18.8953L38.8619 2.9217L35.7566 20.8184L35.6042 21.6969L36.4333 21.3688Z' stroke='black')
          h3.article__subtitle View every skill in real time
          p.article__text Benefit from personalized reports to facilitate HR and managerial decision-making. The managerial relay of HR policies becomes a reality with the understanding of individual preferences. Development and performance objectives come to life with more regular interactions between employees and managers. Neobrain offers you a real-time overview of skills and the transformations to be carried out. Our solution also provides an operational vision of the employees to be trained and those at risk of leaving.

      article.article.article--left
        .article__left
          .article__head
            h2.h2.article__title AI Skills Engine
            .article__icon
              svg(viewBox='0 0 50 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M36.1314 30.2216C35.3786 32.0314 34.9938 33.9714 34.9991 35.9299C34.9988 37.2309 35.1715 38.5209 35.5088 39.7673C34.5339 38.7965 33.4243 37.9605 32.209 37.287C29.9499 36.0352 27.4027 35.3875 24.8166 35.4073C22.2304 35.427 19.6935 36.1134 17.4541 37.3996C16.3087 38.0574 15.2611 38.8607 14.3358 39.7852C14.682 38.5094 14.8569 37.188 14.8515 35.8553C14.841 33.2645 14.1492 30.7216 12.845 28.4787C11.5407 26.2358 9.66951 24.371 7.41703 23.0688C6.25744 22.3984 5.01751 21.889 3.73179 21.5501C5.02522 21.2067 6.27198 20.6909 7.43697 20.0125C9.69283 18.6989 11.5636 16.8209 12.8628 14.5652C14.1621 12.3095 14.8444 9.75479 14.8417 7.15531C14.8403 5.84622 14.6652 4.54885 14.3252 3.29564C15.2319 4.20281 16.2563 4.99374 17.3755 5.6457C19.6128 6.94901 22.1522 7.65228 24.745 7.68682C27.3377 7.72135 29.8952 7.08598 32.1668 5.84275C33.4104 5.1621 34.5451 4.31202 35.5401 3.32152C35.1741 4.67197 35.0002 6.07265 35.0284 7.48265C35.0799 10.0609 35.8053 12.5814 37.1332 14.7965C38.4611 17.0117 40.3456 18.8452 42.6015 20.1174C43.7099 20.7424 44.8892 21.2215 46.1098 21.5467C45.4811 21.7119 44.8626 21.9182 44.2584 22.1647C42.4361 22.9081 40.7798 24.0026 39.3849 25.3853C37.99 26.7681 36.8842 28.4118 36.1314 30.2216Z' stroke='black')
          h3.article__subtitle Give meaning to each of your skills
          p.article__text Think of AI as an ally that adapts to your goals and learns to serve you better. External data from our customers' industries drives suggestions from skills that are tailored to your business. Your internal rules are integrated into our software intelligence to ensure that your culture is respected and to save valuable time.
        .article__right
          .article__picture
            img(src="./img/section-description/5.webp" loading="lazy" alt="AI Skills Engine").img
