mixin header
  header.header&attributes(attributes)
    .container
      h1.title Drive your organization through skill
      .description
        p.text The skills feed the quality of your decision making. How to compose your HR strategy as closely as possible to your reality? Our approach combines the consideration of individual motivations and the real-time updating of skills to reveal each talent of the organization.
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSdSK4q9nvmsCvMz-n8TXqmILbwBmWEoBt1dawihkkSaMFbI2Q/viewform?usp=sf_link").button.button--lg.button--white Join whitelist
      +social
      .decor
        img(src="./img/header/arrow.webp" alt="Decor").img
