mixin menu
  menu.menu&attributes(attributes)
    a(href="#").menu__item.js-menu-item
      span.menu__text Individual
    a(href="#").menu__item.js-menu-item
      span.menu__text For coaches
    a(href="#").menu__item.js-menu-item
      span.menu__text For busines
