mixin menu
  menu.menu&attributes(attributes)
    a(href="https://competenzlab.io/").menu__item.js-menu-item
      span.menu__text Individual
    a(href="https://competenzlab.io/for-partners").menu__item.js-menu-item
      span.menu__text For coaches
    a(href="https://competenzlab.io/for-busines").menu__item.js-menu-item
      span.menu__text For business
