mixin menu
  menu.menu&attributes(attributes)
    a(href="#section-home").menu__item.menu__item--active.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text Home
    a(href="#section-about").menu__item.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text About
    a(href="#section-skills").menu__item.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text Skills
    a(href="#section-projects").menu__item.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text Projects
    a(href="#section-codepen").menu__item.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text Codepen
    a(href="#section-contact").menu__item.js-menu-item
      .menu__icon
        svg(viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L6 6L1 11' stroke-miterlimit='10' stroke-linejoin='bevel')
      .menu__text Contact
