:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-900: #292929;
  --color-grey: #cdcccd;
  --color-grey-400: #767676;
  --color-grey-200: #bebebe;
  --color-grey-100: #e5e5e5;
  --color-pink: #ce64c7;
  --color-pink-light: #c36cf5;
  --color-pink-03: rgba(186, 75, 179, 0.3);
  --color-purple: #674bda;
  --color-purple-dark: #5739d1;
  --color-purple-light: #8268ed;
  --color-gradient: radial-gradient(123.67% 95.25% at 20.29% 17.84%, #B650D3 0%, #8050EE 69.31%, #2BADDA 100%);
  --color-gradient-1: radial-gradient(155.45% 90% at 102.5% 24.78%, #B650D3 0%, #8050EE 69.31%, #2BADDA 100%);
  --color-gradient-2: linear-gradient(237.92deg, #F4E5F9 1.78%, #EDE8FD 55.78%, #DFF3FA 100%);
  --color-error: #f00;
}
