:root {
  --font-size: 1rem;
  --font-family: Manrope, Arial, sans-serif;

  --line-height: 25px;

  --typography-regular: 400;
  --typography-medium: 600;
  --typography-bold: 700;
  --typography-extra-bold: 800;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
