:root {
  --font-size: 1rem;
  --font-family: Manrope, Arial, sans-serif;

  --line-height: 1;

  --typography-regular: 400;
  --typography-medium: 600;
  --typography-bold: 700;
  --typography-extra-black: 800;
}
