title= title

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#100d14")
meta(name="format-detection" content="telephone=no")

meta(name="description" content="Description")
meta(name="keywords" content="Keywords")

include ../partials/_favicons


link(rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png")

link(rel="canonical" href="https://site.com")
link(rel="preconnect" href="https://fonts.googleapis.com/")
link(rel="manifest" href="./manifest.json")
link(rel="stylesheet" href="./css/app.css" as="style" onload="this.rel='stylesheet'")

